.services{
    margin: 10vh;
    display: flex;
}

.services-card{
    color: #0a6e4e;
}

.services-card h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.services-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;

}

.services-card img{
    height: 100px;
    width: 100px;
}