.nav {
    display: flex;
    flex-direction: column;
    background-color: #0a6e4e;
    
}

.nav-highlight{
    text-align: center;
    color: whitesmoke;
    padding: 5px;
}


.logo-nav{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2px;
}



.logo-nav img{
    width: 15vh;
    height: inherit;
}

.option-nav{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.option-nav ul {
    list-style-type: none;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.option-nav li {
    cursor: pointer;
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 5px;
    border-radius: 10px;
}

.option-nav li:hover{
    color:#0a6e4e;
}

.nav-order{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 1vw;
    color: #0a6e4e;
    font-weight: 700;
}

.nav-order span{
    margin-top: 1vh;
}